.Hortifrut {
    width:10% ;
    height:100% ;

}
.Header {
background-color: black;
}
.Legumes {
  color: green;
}

.Frutas{
    color: red;
}
p {
  color: white;
}
footer {
  background-color: black;
}